
{% extends 'layout.html' %}

{% block title %}View one themes{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
    <body>
     
        <form class="example" method="post" action="" >
            <input type="text" placeholder="Enter the idea id" name="i_id">
            <button type="Comment" value="value1" name="action1">Like</i></button>
            <button type="Comment" value="value2" name="action2">Dislike</i></button>
        </form>
        
    </body>
</html>
{% endblock %}