mat-card {
  max-width: 600px;
  margin: 10em auto;
  text-align: center;
  max-height: 600px;
  min-width: 200px;
  min-height: 200px;
}

@media screen and (max-width: 550px) {
  mat-card-content{
      max-width: 800px;
      max-height: 800px;
      min-width: 150px;
      min-height: 250px;
  }
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 7px 7px 7px -1px rgb(121, 113, 113),
    0 1px 1px 0 rgb(145, 139, 139), 0 1px 3px 0 rgb(156, 148, 148);
}

.mat-orange {
  color: white;
  background-color: rgb(255, 94, 0);
}

.full-width {
  width: 80%;
}


