<mat-card>
  <mat-card-content>
    <h2>Update Password</h2>
    <form name="updatePasswordForm" [formGroup]="updatePasswordForm">
      <!-- User Password Input -->
      <div class="password-input">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Set Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="userPassword"
            required>
          <button
            mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="updatePasswordForm.get('userPassword').errors?.required">
            Required password
          </mat-error>
        </mat-form-field>
      </div>

      <div class="confirm-password-input">
        <mat-form-field class="full-width" appearence="fill">
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            appConfirmEqualValidator='userPassword'
            placeholder="Confirm password"
            [type]="hide1 ? 'password' : 'text'"
            formControlName="confirmPassword"
            required>

          <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="updatePasswordForm.get('confirmPassword').errors?.required">
              Required password
          </mat-error>
          <mat-error *ngIf="updatePasswordForm.get('confirmPassword').errors?.notEqual">
              Password and Confirm Password does not match
          </mat-error>
      </mat-form-field>
      </div>
      <!-- Form submit button -->
      <button
        mat-raised-button
        [disabled]="updatePasswordForm.get('userPassword').errors?.required ||
        updatePasswordForm.get('confirmPassword').errors?.required ||
        updatePasswordForm.get('confirmPassword').errors?.notEqual
        "
        [mat-dialog-close]="updatePasswordForm.value"
        color="orange"
        (click)="setPassword()"
      >
        Update Password
      </button>
    </form>
  </mat-card-content>
</mat-card>
