
mat-card{
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
    min-width: 200px;
    min-height: 100px;
    border: 1px  solid rgba(252, 53, 18, 0.733);
    margin-bottom: 100px;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 7px 7px 7px -1px rgb(121, 113, 113), 
                0 1px 1px 0 rgb(145, 139, 139), 
                0 1px 3px 0 rgb(156, 148, 148);
}

.mat-orange{
    color:white;
    background-color: rgb(255, 94, 0);
}

.header{
    text-align: center;
}

.full-width{
    width: 80%;
}

.forgot-pasword{
    padding-left: 0px;
}

.email-input{
    padding-top: 10px;
}

.aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
}
