  
{% extends 'layout.html' %}

{% block title %}View All themes{% endblock %}

{% block content %}
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<table style="width:100%"> 
    <thead> 
    <tr> 
        <th>Comment</th> 
        <th>Idea Description</th> 
        <th>UserName</th>
    </tr> 
    </thead> 
    <tbody> 
        {% for row in value %}  
            <tr> 
                <td>{{row['commentvalue']}}</td> 
                <td>{{row['ideadescription']}}</td>
                <td>{{row['userName']}}</td>  
            </tr> 
        {% endfor %} 
    </tbody> 
</table>
{% endblock %}